
<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <title>OCR-文字识别</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="hidden-xs logo" href="/">
                        <!-- <img style="height:45px;width:55px;" src="/static/img/logo.png"> -->
                    </a>
                    <!-- <a class="navbar-brand" href="">FmtExcel</a>  -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/" target="_blank">OCR4Go</a></li>
                        <!-- <li><a href="/" target="_blank">About</a></li>  -->
                        <!-- <li><a href="/paycancle" target="_blank">订单取消</a></li>
                        <li><a href="/payrefund" target="_blank">订单退款</a></li> -->

                    </ul>

                    <!--       <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->

                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>

    <container>
        <div class="col-md-2">

        </div>
        <div class="col-md-5">

            <h3>OCR图片文字识别</h3>
            <hr>
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>注意!</strong> 以下方式选一个即可 .
            </div>

            <form enctype="multipart/form-data" method="post" action="/" id="new-form">
                <!-- <div class="form-group">
                    <label>文章标题：</label>
                    <input type="text" class="form-control" name="title" placeholder="（必填）" aria-required="true" required="">
                </div> -->

                <!--<div class="form-group">
                <label>文章分类</label>
                <input type="text" class="form-control" name="category"> 
                </div> -->
                <!-- <div class="form-group">
                    <label>分类:</label>
                    <select class="form-control" name="cate">
                        <option>A</option>
                        <option>B</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>命名分类:</label>
                    <select class="form-control" name="namecate">
                        <option>A</option>
                        <option>B</option>
                    </select>
                </div> -->
                <label style="color:#2181C2;font-size:18px">方式 1</label>
                <div class="form-group">
                    <label>远程图片链接(Url)：</label>
                    <input type="text" class="form-control" name="url" placeholder=" 请输入远程图片链接地址">
                    <!-- aria-required="true" required="" -->
                </div>
                <hr>
                <label style="color:#2181C2;font-size:18px">方式 2</label>
                <!-- <div class="form-group">
                    <label for="exampleInputFile">文件选择</label>
                    <input type="file" id="exampleInputFile" name="file">
                    <p class="help-block">选择 待处理的图片文件.</p>
                </div>  -->
                <div class="form_group">
                    <label for="exampleInputFile">文件选择</label>
                    <input type="file" name="file" id="img_upload_file" multiple="multiple" accept=".gif,.jpg,.jpeg,.png" />
                    <input type="hidden" name="img_upload_base" id="img_upload_base" />
                    <label>图片预览</label><br>
                    <img id="img_upload_show" />
                </div>

                <button id="submitId" type="submit" class="btn btn-default">提交</button>
            </form>
        </div>

        <!-- {{if .App}} -->
        <div class="col-md-12">
            <br>
            <div class="alert alert-success" role="alert" style="font-size:16px">
                <!-- <img id="img_remote" src={{.RemoteImg}} /><br> -->
                 {{.RemoteImg}}
                <strong>Well done!&nbsp</br></strong> 
                {{range $n,$word := .App}}
                {{$word}}
                {{end}}
            </div>
            <br>

            <!-- <div class="alert alert-info" role="alert" style="font-size:18px">
                <a href="/static/upload/{{.Url}}.tar.gz">下载{{.Url}}</a>
            </div> -->

        </div>
        <!-- {{end}} -->

        <!-- <div class="col-md-4">
            <img src="http://qr.liantu.com/api.php?text=https://qr.alipay.com/bax02179hfaadwa1yuln0059">
        </div> -->

    </container>
</body>

<script>
    $("#img_upload_file").change(function () {
        var file = this.files[0];
        var reader = new FileReader();
        reader.readAsDataURL(file);//调用自带方法进行转换  
        reader.onload = function (e) {
            $("#img_upload_show").attr("src", this.result);//将转换后的编码存入src完成预览  
            $("#img_upload_base").val(this.result);//将转换后的编码保存到input供后台使用  
        };
    });
</script>

</html>